<video poster="/assets/food_on_the_table.jpg" id="bgvid" playsinline autoplay muted loop>
<source src="/assets/cooking_1.mp4" type="video/mp4">
</video>
<div class="faded_bg vertical-center">

	<div class="jumbotron text-center signup-jumbo">
		<h1>Sign Up for Savr</h1>
		<p style="color: red"><%= flash[:message] %></p> 
		<%=form_for(@user, url: users_create_path) do |f|%><br>
		<%=f.label "Name" %><br>
		<%=f.text_field :name %><br>
		<%=f.label "Password" %><br>
		<%=f.password_field :password %><br>
		<%=f.label "Confirm Password" %><br>
		<%=f.password_field :password_confirmation %><br>
		<%=f.submit "Sign Up", class: "btn btn-primary btn-lg"%>
		<% end %>

	</div>

</div>
