<div class="container animated fadeIn">
	<div class="row" style="margin-top:15px; margin-bottom:15px;">
		<div class="col-8">
			<h1><%= @user.name %> | <span>Karma: <%=@user.karma%></span></h1>
			<p class="user-bio">
			<% if @user.bio.present? %>
			<%= @user.bio %>
			<% end %>
			 <%= link_to 'Edit »', user_edit_path(@user) if session[:user_id] == @user.id%>
			</p>
		</div>
		<div class="col-4">
			<%= link_to 'All Listings', listings_path, class: 'btn btn-primary pull-right', style: 'margin: 10px' %>
			<%=link_to 'Add a Listing', new_listing_path, class: 'btn btn-primary orange pull-right',  style: 'margin: 10px;' %>
		</div>
	</div>

	<div class="row">
		<div class="col-6">
			<div class="card">
			<div class="card-header">
						<h5 style="text-transform: uppercase; letter-spacing: 2px; font-size: 1em; font-weight: 700;">Listings</h5>
					</div>
					<div class="card-block">
						<div id="accordion_2" role="tablist" aria-multiselectable="true">
						<!-- start card one listings -->
							<div class="card">
								<div class="card-header" role="tab" id="headingOne-list">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion_2" href="#collapseOne-list" aria-expanded="true" aria-controls="collapseOne-list">
											<% if session[:user_id] == @user.id %>
												My Open Listings 
												<%if @open_listings.any? {|listing| !listing.bids.blank?} %>
													<i class="fa fa-bell" style="color:#3ab54b; margin-left: 5px; font-size: .8em;" aria-hidden="true"> </i>
												<%end%>
											<% else %>
												<%= @user.name %>'s Open Listings
											<% end %>
											 <span class="badge badge-default badge-pill pull-right"><%= @open_listings.length %></span>
										</a>
									</h5>
								</div>
								<div id="collapseOne-list" class="collapse" role="tabpanel" aria-labelledby="headingOne-list">
									<div class="card-block">
									<% if !@open_listings.blank?%>
										
										<% @open_listings.each do |listing| %>
											<div class="bid-entry"><span class='bid-date'><%= listing.updated_at.strftime('%b %d') %></span> <%= link_to listing.title, listing_path(listing) %>  <%if !listing.bids.blank? %><i class="fa fa-bell" style="color:#3ab54b; margin-left: 5px;" aria-hidden="true"> </i><%end%></div>
										<% end %>
										
									<% else %>
										<p>No Current Listings.</p>
									<% end %>
									</div>
								</div>
							</div>
							<!-- end card one listings -->
					<% if session[:user_id] == @user.id %>
							<div class="card">
								<div class="card-header" role="tab" id="headingTwo-list">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion_2" href="#collapseTwo-list" aria-expanded="true" aria-controls="#collapseTwo-list">
											My Completed Listings
											 <span class="badge badge-default badge-pill pull-right"><%= @completed_listings.length %></span>
										</a>
									</h5>
								</div>
								<div id="collapseTwo-list" class="collapse" role="tabpanel" aria-labelledby="headingTwo-list">
									<div class="card-block">
									<% if !@completed_listings.blank?%>
										
										<% @completed_listings.each do |listing| %>
											<div class="bid-entry"><span class='bid-date'><%= listing.updated_at.strftime('%b %d') %></span> <%= link_to listing.title, listing_path(listing) %></div>
										<% end %>
										
									<% else %>
										<p>No Completed Listings.</p>
									<% end %>
									</div>
								</div>
							</div>
							<!-- end card two listings -->



						</div>
					</div>


			</div>
		</div>
			<div class="col-6">
				<div class="card">
					<div class="card-header">
						<h5 style="text-transform: uppercase; letter-spacing: 2px; font-size: 1em; font-weight: 700;">Bids</h5>
					</div>
					<div class="card-block">
						<div id="accordion" role="tablist" aria-multiselectable="true">
							<div class="card">
								<div class="card-header" role="tab" id="headingOne">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
											My Pending Bids <span class="badge badge-default badge-pill pull-right"><%= @open_bids.length %></span>
										</a>
									</h5>
								</div>
								<div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
									<div class="card-block">
									<% if !@open_bids.blank?%>
										
										<% @open_bids.each do |bid| %>
											<div class="bid-entry"><span class='bid-date'><%= bid.listing.updated_at.strftime('%b %d') %></span> <%= link_to bid.listing.title, listing_path(bid.listing) %></div>
										<% end %>
										
									<% else %>
										<p>No bids currently pending.</p>
									<% end %>
									</div>
								</div>
							</div>
							<!-- end card one -->
							<div class="card">
								<div class="card-header" role="tab" id="headingTwo">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
											My Successful Bids <span class="badge badge-default badge-pill pull-right"><%= @accepted_bids.length %></span>
										</a>
									</h5>
								</div>
								<div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
									<div class="card-block">
									<% if !@accepted_bids.blank?%>
										<% @accepted_bids.each do |bid| %>
											<div class="bid-entry"><span class='bid-date'><%= bid.listing.updated_at.strftime('%b %d') %></span> <%= link_to bid.listing.title, listing_path(bid.listing) %>
											</div>
										<% end %>
									<% else %>
										<p>No bids currently successful.</p>
									<% end %>
									</div>
								</div>
							</div>
						<!-- end card two -->
							<div class="card">
								<div class="card-header" role="tab" id="headingThree">
									<h5 class="mb-0">
										<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
											Lost Bids<span class="badge badge-default badge-pill pull-right"><%= @lost_bids.length %></span>
										</a>
									</h5>
								</div>
								<div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
									<div class="card-block">
										<% if !@lost_bids.blank?%>
											<% @lost_bids.each do |bid| %>
												<div class="bid-entry"><span class='bid-date'><%= bid.listing.updated_at.strftime('%b %d') %></span> <%= link_to bid.listing.title, listing_path(bid.listing) %>
												</div>
											<% end %>
										<% else %>
											<p>No bids currently lost.</p>
										<% end %>

									</div>
								</div>
							</div>
						</div>
					</div>


								<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

